@model Customer

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-6">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-6"> Delete Customer </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="Id" hidden />
            <div class="border p-3 mt-4">
                <div class="form-floating py-2 col-12 mb-3">
                    <input asp-for="FirstName" class="form-control border-0 shadow" />
                    <label asp-for="FirstName" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12 mb-3">
                    <input asp-for="LastName" class="form-control border-0 shadow" />
                    <label asp-for="LastName" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12 mb-3">
                    <input asp-for="Email" class="form-control border-0 shadow" />
                    <label asp-for="Email" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12 mb-3">
                    <input asp-for="PhoneNumber" class="form-control border-0 shadow" />
                    <label asp-for="PhoneNumber" class="ms-2"></label>
                </div>
                <div class="row pt-4">
                    <div class="col-6 col-md-3">
                        <button type="submit" class=" btn btn-success form-control"> Delete </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Customer" asp-action="Index" class="btn btn-primary form-control"> Back To List </a>                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



